__pycache__/
*.py[cod]
venv/
.env
data/raw/*
data/processed/*
data/graphs/*
!data/raw/.gitkeep
!data/raw/rice-facebook-undergrads-links.txt
!data/raw/rice-facebook-undergrads-users.txt
!data/processed/.gitkeep
!data/graphs/.gitkeep
results/checkpoints/*
!results/checkpoints/.gitkeep
results/logs/*
!results/logs/.gitkeep
wandb/
paper/*.aux
paper/*.log
paper/*.out
paper/*.bbl
paper/*.blg
paper/*.synctex.gz
paper/main.pdf
.DS_Store
.vscode/settings.json
*.swp
